<a href="https://colab.research.google.com/github/wissam-93/Wissam_HTU_Data-Science/blob/main/MLR_CrossV_Wissam_Mohammed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [299]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [300]:
data = pd.read_csv('Exercise_dataset_session4.csv')
data.head()

   Rent    Bills  OtherExpenses           Occupation  MonthlySavings
0  1653  1368.98         943.57             Engineer          384.52
1  1626  1513.78         887.80  SalesRepresentative          383.58
2  1534  1011.46         815.87              Teacher          382.10
3  1444  1186.72         766.40             Engineer          365.80
4  1421   913.92         732.34              Teacher          332.38

In [301]:
sp1 = data.loc[:,['Rent','Bills','OtherExpenses','Occupation']].values
sp2 = data.loc[:,['MonthlySavings']].values

In [331]:
#sp1.isnull().sum()

In [303]:
#sp2.isnull().sum()

In [304]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [305]:
nominal = ColumnTransformer(transformers=[('enc',OneHotEncoder(drop='first'),[3])],remainder='passthrough')
sp1 = np.array(nominal.fit_transform(sp1))

In [306]:
sp1

array([[0.0, 0.0, 1653, 1368.98, 943.57],
       [1.0, 0.0, 1626, 1513.78, 887.8],
       [0.0, 1.0, 1534, 1011.46, 815.87],
       [0.0, 0.0, 1444, 1186.72, 766.4],
       [0.0, 1.0, 1421, 913.92, 732.34],
       [0.0, 0.0, 1319, 998.15, 725.72],
       [1.0, 0.0, 1346, 1471.99, 255.43],
       [0.0, 1.0, 1303, 1455.3, 647.75],
       [0.0, 0.0, 1205, 1487.19, 623.23],
       [1.0, 0.0, 1233, 1086.79, 609.96],
       [0.0, 1.0, 1019, 1105.94, 458.32],
       [1.0, 0.0, 1007, 917.91, 499.49],
       [0.0, 1.0, 939, 1273.2, 499.68],
       [1.0, 0.0, 920, 1354.95, 505.33],
       [0.0, 1.0, 1199, 1565.47, 513.03],
       [0.0, 0.0, 1145, 1226.17, 523.55],
       [1.0, 0.0, 780, 1215.98, 528.69],
       [0.0, 0.0, 947, 1450.78, 565.15],
       [0.0, 1.0, 917, 1141.76, 589.84],
       [0.0, 0.0, 864, 1535.14, 0.0],
       [1.0, 0.0, 763, 1138.67, 597.33],
       [0.0, 0.0, 784, 1537.73, 599.47],
       [0.0, 1.0, 740, 1227.83, 606.64],
       [0.0, 1.0, 675, 1057.51, 609.54],
       [0.0, 0.0, 770, 992.81, 281.15],
       [1.0, 0.0, 647, 1395.53, 275.93],
       [0.0, 1.0, 753, 1441.36, 268.1],
       [0.0, 0.0, 721, 1278.65, 706.37],
       [0.0, 1.0, 661, 1826.46, 236.3],
       [0.0, 0.0, 656, 1530.32, 214.28],
       [0.0, 1.0, 620, 1156.41, 182.26],
       [0.0, 0.0, 611, 1527.02, 176.44],
       [1.0, 0.0, 634, 1292.2, 92.17],
       [0.0, 1.0, 555, 1030.57, 429.27],
       [1.0, 0.0, 464, 1576.94, 421.6],
       [0.0, 0.0, 460, 850.47, 411.04],
       [0.0, 1.0, 287, 1270.56, 402.25],
       [1.0, 0.0, 441, 512.83, 394.06],
       [0.0, 0.0, 202, 659.48, 370.53],
       [1.0, 0.0, 386, 829.82, 350.0],
       [1.0, 0.0, 288, 1185.46, 345.59],
       [0.0, 1.0, 279, 847.11, 328.94],
       [1.0, 0.0, 236, 961.9, 296.0],
       [0.0, 0.0, 155, 1273.82, 71.07],
       [1.0, 0.0, 222, 1548.06, 56.67],
       [0.0, 0.0, 10, 1241.53, 3.81],
       [0.0, 1.0, 13, 1158.16, 594.23],
       [1.0, 0.0, 0, 1354.27, 0.0],
       [0.0, 0.0, 5, 517.43, 0.0],
       [1.0, 0.0, 0, 1169.84, 90.35]], dtype=object)

In [332]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(sp1,sp2, test_size = 0.2, random_state = 0)

In [308]:
len(x_train)

40

In [334]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [335]:
y_predict = mlr.predict(x_test)

In [336]:
df = pd.DataFrame(data = y_test,columns=[' Actual Monthly Saving  |'])
df['  Predicted_Monthly_Saving'] = y_predict
df

    Actual Monthly Saving  |    Predicted_Monthly_Saving
0                     206.56                  206.122663
1                     288.52                  265.214928
2                     292.24                  264.908978
3                     155.60                  143.975319
4                     382.10                  357.045350
5                     210.02                  232.296998
6                     162.46                  135.656663
7                     194.97                  197.542737
8                     220.70                  227.953334
9                     332.38                  335.868233

In [337]:
from sklearn.model_selection import cross_val_score
cv_4_results = cross_val_score(mlr, x_test, y_test, cv=4, scoring='neg_mean_squared_error')
print(cv_4_results)

[ -282.84424216 -2131.68636463  -325.12133481  -617.22304219]

In [338]:
from sklearn import metrics
r_square = metrics.r2_score(y_test,y_predict)
print('R-SQUARE ERROR :',r_square)

R-SQUARE ERROR : 0.934723161395364